* {
    padding: 0;
    margin: 0;
}

body {
    /* background: linear-gradient(to bottom, #FFFFFF, #3c423e); */
    background-color: whitesmoke;
    width: 100vw;
    min-height: 100;
    overflow: auto;/* Antes estaba en hidden*/
}
header{
    position:relative ;
    align-items: center;
    padding: auto;
    background-color: #549c04;

}
#btnB:hover{
    color: rgb(237, 237, 237);
}

/*Style para el LIBRO*/
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    margin: 3% auto 0;
}
#titulo_libro{
    /* margin: auto 10%; */
    margin-top: 50%;
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}


i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#prev-btn img {
    width: 50px;
}

#f1 {
    background-color: rgb(23, 78, 21);
    background-image: url("img/portada2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(221, 226, 221);
}

.link_masInfo{
    margin-top: 100%;
}

/* Estilo bonton del libro*/

.button-container {
    position: relative;
    display: inline-block;
  }
button{
    z-index: 10;
    background:black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24PX;
    font-weight: bold;
    position: relative;
    border-radius: 12PX;
}

.button-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        green,rgb(62, 155, 206),blue,rgb(62, 155, 206),
        green,rgb(62, 155, 206),blue,rgb(62, 155, 206)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

/*Style del footer */
footer{
    height: 10%;
    text-align: center;
    width: 100%;
    color: #549c04;
    position: relative;
    bottom: 0;
    font-size: x-small;
  }
  footer p{
    margin-bottom: 0;
    margin-top: 0;
  }