* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #3c423e);
    /* background-image: url("img/fondo_montañas.avif"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    /* min-height: 100vh; */
    height: auto;
    overflow-y: auto;/* Antes estaba en hidden*/
    overflow-x: hidden;
}
header{
    position:relative ;
    align-items: center;
    padding: auto;
}
#btnB:hover{
    color: #0fc012;
  }

.estilo_Container_principal{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    align-content: center;
}
.estilo_Subcontainer{
    height: 100%;
    width: 100% !important;
}
#subbloque1{
  height: 70%;
  background-image: url('img/fondo_montañas.avif');
  background-size: cover;
  background-position: center;
}

#bloque_img_data_user{
    padding: 2%;
    height: 12%;
}
.bloques_perfiles_amigos{
    padding: 2%;
    height: 25%; 
}
#encabezados{
    background-color: rgb(25, 139, 40) !important;
    height: fit-content;
    width: 100%;
}

.fondo-verde-fosforo {
    background-color: #00FF00;
    border-radius: 5px;
  }
  .fondo-rojo-fosforo {
    background-color: rgb(120, 34, 34);
    border-radius: 5px;
  }  
/*Style del footer */
footer{
    height: 10%;
    text-align: center;
    width: 100%;
    color: white;
    position: relative;
    bottom: 0;
    font-size: x-small;
  }
  footer p{
    margin-bottom: 0;
    margin-top: 0;
  }